html, body {
  background: white;
  margin: 0px;
  padding: 0px;
}

*:focus {
  outline:0;
}

.main {
  margin: 6px 8px;
}

.format-content {
  font-size: 0px;
  margin: 0px;
  padding: 0px;
  display: flex;
}

.format-content .format-source {
  display: inline-flex;
  width: 400px;
  height: 400px;
}

.format-content .format-result {
  display: inline-flex;
  width: 400px;
  height: 400px;
}

.format-content textarea {
  width: 100%;
  border: 0px;
  font-size: 18px;
  resize: none;
}

.format-content .format-source textarea {
  background: #FFFEB3;
}

.format-content .format-result textarea {
  background: #99CCFF;
}
